head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8" )
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Bae proyectos")
    link(rel="stylesheet", href="/static/assets/ListaEmpresarial/style/main.css")
    link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')