doctype html
html(lang="es")
    include head.pug
    body(style="margin:0px; font-family: 'Roboto', sans-serif;")
        header
            include head.pug
        block content
        footer 
            include footer.pug